# Rust stores build artifacts in the tree
util/symcc_fuzzing_helper/target

# Unnecessary folders
docs/
build/

# Some build utilities that we can ignore
TAGS
GPATH
GRTAGS
GTAGS
compile_commands.json
LICENSE
README.md
TODO.md
Vagrantfile

# The Dockerfile itself doesn't need to be copied and other files/folders
Dockerfile
.dockerignore
.gitignore
.github/
.vscode/
.git/
.clang-format